build/bin
node_modules
frontend/dist/*
!frontend/dist/index.html
!frontend/dist/200.html
!frontend/dist/favicon.ico
!frontend/dist/robots.txt

# Local env files
.env
.env.*
!.env.example

*.exe
*.db-shm
*.db-wal

